/* CIRCULO FOTO PERFIL */

.img-circle {
  border-radius: 50%;
  box-shadow: 0px 0px 30px 3px #000000;
  width: 15%;
}

.font-style {
  font-size: 25px;
  color: #171717;
  padding-top: 1%;
}

.description-style {
  color: #3D3D3D;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3%;
  background-color: #a63839;
  color: white;
  text-align: end;
  font-size: 13px;
  z-index: 3;
  padding-right: 1%;
}

.like-style {
  width: 15px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}