<section>
  <!-- MAQUINA DE ESCREVER TEXTO -->
  <div>
  
    <h1 class="typewrite-style"> Minhas
      <a href="" class="typewrite" data-period="2000" data-type='[ "Habilidades ", "Skills", "I Love to Develop." ]'>
        <auto-type class="wrap" messages='"habilidades"' interval='2000'></auto-type>
      </a>
    </h1>
  
  </div>

<h1>Linguagens</h1>

  <!-- LEMBRAR DE APAGAR <BR> E ADIONAR A QUEBRA DE LINHA NO CSS -->

  <span class="description-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    <br> Mauris et nunc a ipsum convallis tincidunt vitae quis nisl.
    <br> Duis nec consequat erat, quis sodales dolor. Aenean porttitor nec
    <br> sapien a blandit. Phasellus porta, ligula ac tempus laoreet, nisl felis placerat nisl,
    <br> vitae ornare ipsum libero eu massa. Cras luctus id odio ut consequat.</span>
</section>
