<section>
  <div>
    <img class="img-circle" src="imgs/photo725687003457365931.jpg">
  </div>

  <div>
    <h1 class="font-style">Mei N.S.</h1>
  </div>

  <!-- LEMBRAR DE APAGAR <BR> E ADIONAR A QUEBRA DE LINHA NO CSS -->

  <span class="description-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    <br> Mauris et nunc a ipsum convallis tincidunt vitae quis nisl.
    <br> Duis nec consequat erat, quis sodales dolor. Aenean porttitor nec
    <br> sapien a blandit. Phasellus porta, ligula ac tempus laoreet, nisl felis placerat nisl,
    <br> vitae ornare ipsum libero eu massa. Cras luctus id odio ut consequat.</span>

  <!-- MAQUINA DE ESCREVER TEXTO -->
  <div>
    <h1 class="typewrite-style">O que eu
      <div class="typewrite">
        <auto-type class="wrap" messages='" desenvolvo:", " crio:", " faço:", " I Love to Develop."' interval='2000' />
      </div>
    </h1>
  </div>


  <div>
    <img src="imgs/code.png">
    <span>Front-End</span>
    <img src="imgs/responsive-design-symbol.png">
    <span>Responsivo</span>
    <img src="imgs/website-design-symbol.png">
    <span>Layout</span>
  </div>
</section>