<div class="wrapper-container">
    <!-- MENU -->
    <div id="mySidenav" class="sidenav">
        <!-- <a href="javascript:void(0)" class="closebtn" onclick="sideNavBar.closeNav()">&times;</a> -->
        <div class="align-txt-menu">
            <a href="#">Home</a>
            <a href="#">Portfólio</a>
            <a href="#">Habilidades</a>
            <a href="#">Fale comigo</a>
            <a href="#">Currículo</a>
        </div>
    
        <!-- LOGO-ICONES -->
        <div class="button-logo">
            <a href="#">
                <img src="imgs/linkedin-logo-white.png">
            </a>
            <a href="#">
                <img src="imgs/whatsapp-white.png">
            </a>
            <a href="#">
                <img src="imgs/github-logo-white.png">
            </a>
            <a href="#">
                <img src="imgs/facebook-logo-button-white.png">
            </a>
        </div>
    </div>
    
    <div class="backgrond-pane"/>
    <div ng-transclude class="wrapper"></div>

    <!-- FOOTER -->
    <div class="footer">
        <p>Copyright © 2018. Feito com
            <img class="like-style" src="imgs/like.png"> por Mei N.S.</p>
    </div>
</div>
